
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse">

    <h1 class="navbar-brand"> {{title}} </h1>

    <div *ngIf="isLoggedIn">
      <div class="navbar-nav">
        <a routerLink="/heroes">Heroes</a>
        <a routerLink="/dashboard">Dashboard</a>
      </div>

    </div>


  </div>

  <div *ngIf="isLoggedIn">
    <a (click)="logout()">Logout</a>
  </div>
</nav>



<router-outlet></router-outlet>
<div *ngIf="isLoggedIn">
  <app-messages></app-messages>
</div>
